<div>
  <h1>Registro</h1>

  <div>
    <form action="/passwordreset" method="post">
      <label for="tomail">Su email es: </label><br />
        <input
          type="tomail"
          name="tomail"
          id="tomail"
          value="{{tomail}}"
          placeholder="{{tomail}}"
          readonly
        />
        <br />
      <label for="password">Nueva contraseña</label><br />
      <input
        type="newPassword"
        name="newPassword"
        id="newPassword"
        placeholder="introduzca su contraseña"
        required
      />
      <br />
      {{#if message}}
        <p>{{message}}</p>
      {{/if}}
      <button type="submit">Resetear</button>
    </form>
  </div>
</div>