<h1>Ticket de compra</h1>

<div class="row">
   <div>
    <form action="/products" method="get">
      <button type="submit">Vover al mercado</button>
    </form>
  </div>
    <div class="card col-3 m-1" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Code: {{ticket.code}}</h5>
            <p class="card-text">Precio: {{ticket.amount}}</p>
            <p class="card-text">Comprador: {{ticket.purchaser}}</p>
            <p class="card-text">Fecha de compra: {{ticket.purchase_datetime}}</p>
        </div>
    </div>
</div>